# URL dasar API backend Buwuhan.
# DEV  : biarkan "/v1/api" -> request diteruskan proxy Vite ke http://localhost:3000
# PROD : isi URL absolut, contoh https://api.buwuh.com/v1/api
VITE_API_BASE_URL=/v1/api

# Base URL publik frontend. Dipakai untuk membangun tautan undangan & meta OG.
VITE_PUBLIC_BASE_URL=https://buwuh.com

# Google OAuth Client ID untuk integrasi Google Sign-In
VITE_GOOGLE_CLIENT_ID=449757471422-q9rjbmuk0h57aarti78h4bin68n2q0b4.apps.googleusercontent.com